body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
  background-color: $base-color-white;
}
