$base-color-white: #ffffff;
$base-color-gray: #f2f2f2;
$base-color-gray-dark: #eaeaea;
$base-color-text: #444444;
$base-color-text-dark: #000000;
$base-color-text-medium: #111111;
$base-color-text-light: #222222;
$accent-color:  #68b738;


$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;
