.button {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.button--primary {
  color: $base-color-white;
  background-color: $accent-color;
}

.button--secondary {
  color: $base-color-text;
  background-color: $base-color-gray;
}
