.developer {
  margin: 0;
  padding: 0;
}

.developer__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 140px;
  max-width: 280px;
  margin: 20px auto 40px;
  text-decoration: none;

  &::after {
    display: block;
    content: "";
    width: 27px;
    height: 34px;
    mask-image: url("../../icons/stack.svg#academy-logo");
    mask-repeat: no-repeat;
    mask-size: 27px 34px;
    background-color: $brand-color;
  }

  &:active .developer__text {
    opacity: 0.3;
  }

  &:hover::after,
  &:focus::after {
    background-color: $accent-color;
  }

  &:active::after {
    background-color: $accent-color;
    opacity: 0.3;
  }
}

.developer__text {
  font-size: 16px;
  line-height: 20px;
  color: $base-color-text;
}

@media (min-width: $tablet-width) {
  .developer__link {
    column-gap: 23px;
    max-width: 200px;
    margin: 0;
  }
}
