.example {
  background-color: $base-color-gray-dark;
}

.example__wrapper {
  padding: 25px 0 40px;
}

.example__title {
  margin: 0 0 39px;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-text-dark;
}

.example__text {
  margin: 0 0 20px;
}

.example__stats-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
}

.example__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: start;
  margin: 0;

  &--weight {
    grid-column: 1 / 2;
  }

  &--time {
    grid-column: 2 / 3;
  }

  &--cost {
    flex-flow: wrap;
    grid-column: 1 / -1;
    gap: 4px;
    margin-top: 20px;
  }
}

.example__description {
  position: relative;
  width: 80px;
  margin-top: -10px;
  text-transform: lowercase;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  order: 1;

  &--weight {
    background-color: $base-color-gray-dark;
    margin-left: -2px;
  }

  &--time {
    background-color: $base-color-gray-dark;
    margin-left: -2px;
  }
}

.example__number {
  position: relative;
  width: 124px;
  padding: 14px 10px 16px;
  margin: 0;
  font-family: $primary-font;
  color: $base-color-text-dark;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid $decor-color-dark;
  border-radius: 2px;
}

.example__expenses,
.example__price {
  margin: 0;
  font-family: $primary-font;
  text-transform: uppercase;
  color: $base-color-text-dark;
  font-size: 14px;
  line-height: 20px;
}

.example__result {
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .example {
    background-image: linear-gradient(to bottom, $base-color-white 57%, $base-color-gray-dark 55.5%);
  }

  .example__wrapper {
    padding: 45px 0 101px;
  }

  .example__title {
    margin: 0 0 60px;
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    margin: 0 0 55px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__stats-wrapper {
    display: flex;
    column-gap: 0;
    margin-bottom: 99px;
  }

  .example__list {
    &--weight {
      width: 162px;
      margin: 0 43px 0 0;
    }

    &--time {
      width: 162px;
      margin: 0 auto 0 0;
    }

    &--cost {
      flex-direction: column;
      align-self: flex-start;
      row-gap: 9px;
      margin-top: 10px;
    }
  }

  .example__description {
    background-color: $base-color-white;
    margin-top: -9px;
    font-size: 14px;
    line-height: 14px;

    &--weight {
      width: 114px;
      margin-left: 0;
    }

    &--time {
      width: 142px;
      margin-left: 0;
    }
  }

  .example__number {
    width: 162px;
    padding: 14px 10px 19px;
    font-size: 30px;
    line-height: 37px;
  }

  .example__expenses,
  .example__price {
    align-self: end;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: grid;
    grid-template-rows: 137px 1fr 75px;
    grid-template-columns: 1fr 1220px 1fr;
    margin-bottom: 0;

    &::before {
      display: block;
      content: "";
      grid-area: 2 / 1 / -1 / -1;
      width: 100%;
      background-image: linear-gradient($base-color-white 0, $base-color-gray 0);
    }
  }

  .example__wrapper {
    display: grid;
    grid-area: 1 / 2 / 3 / 3;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 1fr 560px;
    column-gap: 224px;
    padding: 0;
  }

  .example__title {
    grid-column: 1 / 2;
    margin: 0 0 76px;
  }

  .example__text {
    grid-column: 1 / 2;
    margin: 70px 0 69px;
  }

  .example__stats-wrapper {
    display: grid;
    grid-column: 1 / 2;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(2, min-content);
    gap: 55px 42px;
    margin: 0;
  }

  .example__list {
    margin: 0;

    &--weight {
      grid-column: 1 / 2;
    }

    &--time {
      grid-column: 2 / 3;
    }

    &--cost {
      flex-direction: row;
      grid-area: 2 / 1 / 3 / -1;
      justify-content: space-between;
      justify-self: flex-start;
      max-width: 440px;
      margin: 0;
    }
  }

  .example__description {
    background-color: $base-color-gray;

    &--time {
      margin-left: 13px;
      margin-right: 13px;
    }
  }

  .example__expenses {
    margin-right: 63px;
    padding-left: 0;
  }

  .example__price {
    margin-right: 0;
    padding-left: 0;
  }

  .example__result {
    grid-area: 1 / 2 / -1 / 3;
    width: 560px;
    margin: 0;
  }
}
