.hero {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 60%, rgba(255, 255, 255, 1) 37%), image-set("../images/index-background-mobile@1x.jpg" 1x type("image/jpg"), "../images/index-background-mobile@2x.jpg" 2x type("image/jpg")), linear-gradient(to right, #4f4e54 50%, #424147 50%);
  background-color: $accent-color;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain, 320px 302px, contain;
  color: $base-color-white;
  text-align: center;
}

.hero__wrapper {
  padding: 27px 0 20px;
}

.hero__title {
  margin: 0;
  color: $base-color-white;
}

.hero__text {
  margin: 25px 0 29px;
  font-family: $primary-font;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__img-wrapper {
  height: 270px;
}

.hero__button {
  display: block;
  width: 100%;
  margin-top: 3px;
  padding: 10px;
}


@media (min-width: $tablet-width) {
  .hero {
    display: block;
    min-width: 709px;
    color: $base-color-text-dark;
    background-color: $base-color-white;
    background-image: none;
  }

  .hero__wrapper {
    display: grid;
    grid-template-columns: 90px 420px 198px;
    grid-template-rows: repeat(4, min-content);
    row-gap: 40px;
    margin: 0 auto;
    padding: 40px 0 0;
  }

  .hero__title {
    grid-column: 2 / 3;
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    color: $base-color-text-dark;
    text-align: left;
  }

  .hero__text {
    grid-column: 2 / 3;
    margin: 0;
    padding: 0;
    color: $base-color-text-dark;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .hero__img-wrapper {
    grid-column: 1 / -1;
    grid-row: 3 / 5;
    height: 609px;
    margin-top: -18px;
  }

  .hero__button {
    grid-area: 3 / 2 / 4 / 3;
    width: 244px;
    margin-top: 10px;
    padding: 14px;
    font-size: 20px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    padding: 82px 0;

    &::before {
      content: "";
      position: absolute;
      display: block;
      max-height: 697px;
      height: calc(100% + 116px);
      background-image: linear-gradient(rgba(104, 183, 56, 0.85) 50% 50%), image-set("../images/index-background-desktop@1x.jpg" 1x type("image/jpeg"), "../images/index-background-desktop@2x.jpg" 2x type("image/jpeg")), linear-gradient(270deg, #3f3e46, #404145);
      background-color: $accent-color;
      background-repeat: no-repeat;
      background-size: auto, 1040px  694px;
      inset: 0;
      top: -145px;
      left: 50%;
      z-index: 0;
    }
  }

  .hero__wrapper {
    grid-template-columns: 80px 367px 552px;
    padding: 0;
  }

  .hero__title {
    grid-area: 1 / 2 / 2 / 3;
    z-index: 2;
  }

  .hero__text {
    grid-row: 2 / 3;
  }

  .hero__img-wrapper {
    grid-area: 1 / 3 / -1 / 4;
    width: 552px;
    height: 499px;
    margin-top: -82px;
    z-index: 1;
  }

  .hero__button {
    grid-area: 3 / 2 / 4 / 3;
  }
}
