.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__link {
  font-family: $primary-font;
  font-size: 20px;
  line-height: 20px;
  color: $base-color-text-dark;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .nav {
    display: flex;
  }

  .nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    min-width: 450px;
    min-height: 36px;
  }
}
