.programs__wrapper {
  min-height: 592px;
}

.programs__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $base-color-text-dark;
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programs__item {
  min-height: 266px;
  background-color: $base-color-gray;

  &--slim {
    background-image: url("../../icons/stack.svg#cat-slim");
    background-repeat: no-repeat;
    background-size: 50px 53px;
  }

  &--pro {
    background-image: url("../../icons/stack.svg#cat-pro");
    background-repeat: no-repeat;
    background-size: 67px 50px;
  }
}

.programs__link {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: $base-color-text-dark;
  text-decoration: none;
  text-transform: uppercase;

  &::before {
    display: block;
    content: "";
    width: 24px;
    height: 12px;
    mask-image: url("../../icons/stack.svg#arrow");
    mask-size: 24px 12px;
    mask-repeat: no-repeat;
    background-color: $base-color-text-dark;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .programs__wrapper {
    min-height: 789px;
  }

  .programs__item {
    min-height: 372px;
  }
}

@media (min-width: $desktop-width) {
  .programs__wrapper {
    min-height: 527px;
  }

  .programs__list {
    display: flex;
    flex-wrap: wrap;
  }

  .programs__item {
    width: 570px;
    min-height: 374px;
  }
}
