.programs__wrapper {
  padding-bottom: 20px;
}

.programs__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programs__item {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 19px 0;
  min-height: 266px;
  padding: 21px 20px 18px;
  background-color: $base-color-gray;

  &::before {
    content: "";
    display: block;
    width: 67px;
    height: 53px;
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--slim::before {
    width: 50px;
    background-image: url("../../icons/stack.svg#cat-slim");
  }

  &--pro {
    padding-top: 24px;
    padding-bottom: 18px;

    &::before {
      height: 50px;
      margin-left: -7px;
      background-image: url("../../icons/stack.svg#cat-pro");
    }
  }
}

.programs__title {
  align-self: center;
  margin: 0;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $base-color-text-dark;
  text-transform: uppercase;
}

.programs__text {
  grid-column: 1 / -1;
  margin: 0;
  padding-bottom: 23px;
  padding-top: 3px;
  border-bottom: 1px solid $decor-color-medium;
}

.programs__link {
  display: flex;
  grid-column: 1 / -1;
  align-items: center;
  gap: 15px;
  padding-bottom: 3px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $primary-font;
  color: $base-color-text-dark;

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    min-width: 32px;
    height: 12px;
    background-image: url("../../icons/stack.svg#arrow-big");
    background-position-x: -8px;
    background-repeat: no-repeat;
  }

  &:is(:hover, :active, :focus-visible, :focus)::after {
    background-position-x: center;
  }
}

@media (min-width: $tablet-width) {
  .programs__wrapper {
    padding: 0 0 45px;
  }

  .programs__list {
    gap: 30px;
  }

  .programs__item {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 240px;
    gap: 24px 10px;
    padding: 77px 63px 57px 52px;

    &::before {
      justify-self: end;
      grid-area: 1 / 2 / -1 / 3;
      width: 200px;
      height: 211px;
    }
  }

  .programs__item--pro::before {
    width: 268px;
    height: 200px;
    margin-top: 14px;
    margin-right: -34px;
  }

  .programs__title {
    font-size: 36px;
    line-height: 36px;
  }

  .programs__text {
    grid-area: unset;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  .programs__link {
    grid-area: unset;
    justify-self: start;
    gap: 25px;
    padding: 28px 0 0;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .programs__wrapper {
    padding-top: 53px;
    padding-bottom: 71px;
  }

  .programs__list {
    flex-flow: wrap;
    gap: 80px;
  }

  .programs__item {
    grid-template-columns: 152px 1fr;
    gap: 27px 10px;
    max-width: 570px;
    padding: 41px 52px 59px;

    &::before {
      justify-self: flex-start;
      grid-area: 1 / 1 / 2 / 2;
      width: 100px;
      height: 106px;
    }
  }

  .programs__item--pro::before {
    width: 134px;
    height: 100px;
    margin-left: -18px;
    margin-top: 4px;
    margin-right: 0;
  }

  .programs__text {
    grid-column: 1 / -1;
    padding-top: 12px;
  }

  .programs__link {
    grid-column: 1 / -1;
    padding-top: 0;
  }
}
