.slider {
  --curtain-place: 0.5;
  display: grid;
  grid-template-columns: calc(var(--curtain-place) * 100%) auto calc((1 - var(--curtain-place)) * 100%);
  width: min(100%, 560px);
  aspect-ratio: 280/256;
}

.slider__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  &--cat-before {
    object-position: left;
  }

  &--cat-after {
    object-position: right;
  }
}

.slider__button-wrapper {
  z-index: 1;
  display: grid;
  place-items: center;
  margin: 0 -2px;
  width: 4px;
  height: 100%;
  border-radius: 2px;
  color: $brand-color;
  background-color: currentColor;
  cursor: col-resize;
  transition: color 0.2s, opacity 0.2s;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    opacity: 0.6;
  }
}

.slider__button {
  box-sizing: border-box;
  display: grid;
  margin: -18px;
  width: 40px;
  height: 40px;
  color: inherit;
  border: 2px solid currentColor;
  border-radius: 20px;
  background-color: $base-color-white;
  cursor: col-resize;

  &::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: currentColor;
    mask-image: url("../../icons/stack.svg#slider");
  }
}

@media (min-width: $tablet-width) {
  .slider {
    margin-inline: auto;
  }
}
