.title-decor {
  position: relative;
  width: fit-content;
  background: $base-color-white;
  font-family: $primary-font;
  font-size: 24px;
  line-height: 24px;
  color: $base-color-text-dark;
  font-weight: 400;
  box-shadow: -40px 0 0 0 $base-color-white, 40px 0 0 0 $base-color-white;

  &::before {
    position: absolute;
    content: "";
    top: 10px;
    right: 0;
    width: 100vw;
    height: 2px;
    background: $accent-color;
    box-shadow: 100vw 0 0 0 $accent-color;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .title-decor {
    font-size: 32px;
    line-height: 32px;
    box-shadow: -40px 0 0 0 $base-color-white, 40px 0 0 0 $base-color-white;

    &::before {
      top: 14px;
    }
  }
}

@media (min-width: $desktop-width) {
  .title-decor {
    font-size: 40px;
    line-height: 40px;

    &::before {
      top: 18px;
    }
  }
}
